* {
  box-sizing: border-box;
}

.auth-container {
  display: flex;
  min-height: 100vh;
}

.auth-left {
  flex: 1;
  background: linear-gradient(
    135deg,
    #0f766e,
    #164e63
  );

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.brand {
  text-align: center;
}

.brand h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.brand p {
  font-size: 1.2rem;
}

.auth-right {
  flex: 1;

  display: flex;

  justify-content: center;

  align-items: center;

  background: #f8fafc;
}

.auth-card {
  width: 100%;
  max-width: 420px;

  background: white;

  padding: 2rem;

  border-radius: 16px;

  box-shadow:
    0 15px 35px
    rgba(0,0,0,.08);
}

.auth-card h2 {
  margin-bottom: .5rem;
}

.auth-card p {
  color: #64748b;
  margin-bottom: 1.5rem;
}

.auth-card input {
  width: 100%;
  padding: 14px;
  margin-bottom: 1rem;

  border: 1px solid #e2e8f0;

  border-radius: 10px;
}

.auth-card button {
  width: 100%;

  border: none;

  padding: 14px;

  border-radius: 10px;

  background: #0f766e;

  color: white;

  cursor: pointer;

  font-weight: 600;
}

.auth-footer {
  margin-top: 1rem;

  display: flex;

  justify-content: center;

  gap: .5rem;
}

.auth-footer a {
  color: #0f766e;
  text-decoration: none;
  font-weight: 600;
}